* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.names-container {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    gap: 30px;
    height: 60px;
     align-items: center; 
     width: 700px;
    
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
}

#jill {
    width: 100px;
padding: 10px;
    /* padding: 10px 0px 10px 50px; */
    background-color: red;
    /* border-radius: 20px; */
}

#john {
    width: 100px;
padding: 10px;
    /* padding: 10px 0px 10px 50px; */
    background-color: blue;
    /* border-radius: 20px; */
}

#jane {
    width: 100px;
padding: 10px;
    /* padding: 10px 0px 10px 50px; */
    background-color: green;
    /* border-radius: 20px; */
}

#jack {
    width: 100px;
    text-transform: uppercase;
    /* text-align: center; */
    padding:10px ;
    /* padding: 10px 0px 10px 50px; */
    background-color: aqua;
    /* border-radius: 20px; */
}

#sara {
    width: 100px;
padding: 10px;
    /* padding: 10px 0px 10px 50px; */
    background-color: greenyellow;
    /* border-radius: 20px; */
}

#amir {
    width: 100px;
  padding: 10px;
    /* padding: 10px 0px 10px 50px; */
    background-color: brown;
    /* border-radius: 20px; */
}

#crif {
    width: 100px;
padding: 10px;
    /* padding: 10px 10px 10px 50px; */
    background-color: darkgoldenrod;
    /* border-radius: 20px; */
}

.names{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    /* padding-top: 20px; */
    /* margin: auto; */
    /* align-items: center; */
    margin-top: 20px;
    width: 400px;
    padding-left: 20px;
    gap: 15px;
}

.container{
    border: 2px solid black;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    column-gap: 10px;
     gap: 30px; 
    width: 290px;
    padding-left: 14px;

}
.colour{
    display: flex;
    
    border: 1px solid orange ;
    width: 200px;
    height: 90px;
    margin-top: 30px;
    padding: 10px;
}
.red{
    background-color: red;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    padding-top: 19px;

}

.word{
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    color: white;
}
.ben{
    background-color: red;
    font-size: 70px;
    padding: 10px;
}
.beth{
    background-color: yellow;
    /* font-size: 100px; */
    padding: 10px;
}
.belle{
    background-color: blue;
    /* font-size: 100px; */
    padding: 10px;
}
.brad{
    background-color: purple;
    font-size: 70px;
    padding: 10px;
}

.contain{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    /* border: 1px solid red; */
    background-color: green;
    height: 200px;
    width: 700px;
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 40px;
    padding-top: 70px;
    color: white;
    justify-content: space-between;
    padding-inline: 20px;
    
}




 






    
